# Directories
dist/
experiments/logs
applications/tpcw/webapp
applications/tpcw/src
applications/tpcc/pom.xml
resources/gen-java/
# MacOS X
**/*.DS_Store

# Compiled Object files
*.class
scripts/*.pyc
# IDE
*.iml
.idea/*

